.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	.page-content {
		flex: 1 1;
		overflow: auto;
	}
	.logo {
		position: absolute;
		top: 1.875rem;
		left: 2.8125rem;
		height: 70px;
	}
}
