.nav-mobile {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: #41815a;
	display: flex;
	justify-content: center;
	align-items: center;
	ul {
		text-transform: capitalize;
		li {
			padding: 3vh 0;
			a {
				cursor: pointer;
				font-size: 1.5rem;
				color: #fff;
			}
		}
	}
	svg {
		position: absolute;
		top: 1.875rem;
		right: 1.875rem;
		background: none;
		border: none;
		color: #fff;
		font-size: 2.5rem;
	}
}